body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentWrapper{
  width: 1200px;
  height: 100vh;
  background:rgba(60, 60, 66, 0.439)  
  ;

  display: flex;
  justify-content: center;
}