body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentWrapper{
  width: 700px;
  height: 95vh;
  padding-top: 10px;
  margin-top: 10px;
  border-radius: 10px;
  overflow:auto;
  box-shadow: 0 0 20px #cccccc;
  position: relative;

  h1{
    text-align: center;
  }

  .noRoute{
    text-align: center;
    margin-top: 20px;
  }

}